<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.bindings">
   		
   	<scheme
       name="tux2323"
       description="My Eclipse Key Scheme"
       parentId="org.eclipse.ui.defaultAcceleratorConfiguration"
       id="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration">
	</scheme>
	
	<key
		commandId="org.eclipse.ui.perspectives.showPerspective"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+M2+P">
	</key>
	
	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.create.getter.setter"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+M2+G">
	</key>

	<!-- Add here the keys for the scheme -->
	
   </extension>

</plugin>
