<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.bindings">
   		
   	<scheme
       name="tux2323"
       description="My Eclipse Key Scheme"
       parentId="org.eclipse.ui.defaultAcceleratorConfiguration"
       id="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration">
	</scheme>
	
	<key
		commandId="org.eclipse.ui.perspectives.showPerspective"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+M2+P">
	</key>
	
	<key
		commandId="org.eclipse.debug.ui.commands.OpenDebugConfigurations"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+ALT+X D">
	</key>
	
	<key
		commandId="org.eclipse.debug.ui.commands.OpenRunConfigurations"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+ALT+X R">
	</key>
	
	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.create.getter.setter"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+M2+S G">
	</key>

	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.generate.hashcode.equals"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+M2+S H">
	</key>

	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.generate.constructor.using.fields"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+M2+S C">
	</key>

	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.generate.tostring"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+M2+S T">
	</key>

	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.create.delegate.methods"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+M2+S D">
	</key>

	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.open.implementation"
		schemeId="com.github.tux2323.eclipse.keyschemeAcceleratorConfigurationleratorConfiguration"
		sequence="M1+ALT+O">
	</key>

   </extension>

</plugin>
